@model AtomBank.Models.CombinedViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mt-5">
    <div class="row">
        <!-- Coluna para Formulário de Adicionar Transação e Seção de Total -->
        <div class="col-md-4">
            <!-- Formulário de Adicionar Transação -->
            <form asp-action="AddTransaction" method="post" id="transaction-form" class="mb-5">
                <input type="hidden" id="IsIncome" name="IsIncome" />
                <div class="form-group d-flex align-items-center mb-3">
                    <input type="number" step="0.01" class="form-control mr-2" id="amount" name="Amount" placeholder="Valor" required />
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-success btn-square mr-2" id="income-btn" data-type="Income">
                            <i class="bi bi-graph-up-arrow"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-square" id="expense-btn" data-type="Expense">
                            <i class="bi bi-graph-down-arrow"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <input type="date" class="form-control" id="date" name="Date" required />
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="description" name="Description" placeholder="Descrição" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
            </form>

            <!-- Seção de Total -->
            <div class="card mt-3">
                <div class="card-body">
                    <h4 class="card-title">Total</h4>
                    <p><strong>Total Receita:</strong> R$ @Model.TotalViewModel.TotalIncome.ToString("0.00")</p>
                    <p><strong>Total Despesa:</strong> R$ @Model.TotalViewModel.TotalExpense.ToString("0.00")</p>
                    <p><strong>Total:</strong> R$ @Model.TotalViewModel.Total.ToString("0.00")</p>
                    <form method="get" asp-action="Index">
                        <div class="form-group">
                            <label for="year">Ano:</label>
                            <select id="year" name="year" class="form-control">
                                @for (int i = DateTime.Now.Year; i >= 2023; i--)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="month">Filtrar por mês:</label>
                            <select id="month" name="month" class="form-control">
                                <option value="">Todos</option>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3">Filtrar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Coluna para Lista de Transações -->
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Valor</th>
                            <th>Tipo</th>
                            <th>Data</th>
                            <th>Descrição</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model.TransactionViewModel.Transactions)
                        {
                            <tr>
                                <td>R$ @transaction.Amount</td>
                                <td>
                                    @if (transaction.IsIncome)
                                    {
                                        <span class="text-success">Receita</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">Despesa</span>
                                    }
                                </td>
                                <td>@transaction.Date.ToString("dd-MM-yyyy HH:mm")</td>
                                <td>@transaction.Description</td>
                                <td class="text-center">
                                    <form method="post" action="/Home/DeleteTransaction">
                                        <input type="hidden" name="id" value="@transaction.Id" />
                                        <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
